<div>
  <article class="card">
      <img src="./img/cabin-mobile.jpg">
      <div class="title">
        <div>
          <h5 class="card_title">The Cabin</h5>
        </div>
        <div>
          <i class="material-icons card_icon">bookmark_border</i>
          <i class="material-icons card_icon">favorite</i>
        </div>
      </div>
  </article>
  <article class="card">
      <img src="./img/lighthouse-mobile.jpg">
      <div class="title">
        <div>
          <h5 class="card_title">Lighthouse</h5>
        </div>
        <div>
          <i class="material-icons card_icon">bookmark_border</i>
          <i class="material-icons card_icon">favorite</i>
        </div>
      </div>
  </article>
</div>
