<div>
  <article class="card">
      <img src="./img/cabin-mobile.jpg">
      <div class="title">
        <div>
          <h5 class="card_title">The Cabin</h5>
        </div>
        <div>
          <img class="card_icon" src="./img/bookmark_border_icon.png">
          <img class="card_icon" src="./img/favorite_icon.png">
        </div>
      </div>
  </article>
  <article class="card">
      <img src="./img/lighthouse-mobile.jpg">
      <div class="title">
        <div>
          <h5 class="card_title">Lighthouse</h5>
        </div>
        <div>
          <img class="card_icon" src="./img/bookmark_border_icon.png">
          <img class="card_icon" src="./img/favorite_icon.png">
        </div>
      </div>
  </article>
</div>
<button></button>
