<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="./css/app.css" rel ="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
</head>
<body>
  <header>

  </header>
  <%=yield%>
  <footer>
    <h2>footer</h2>
  </footer>
</body>
	<script src="js/playsam.js"></script>
</html>
